@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.Login_Container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80")
        center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login_Wrapper{
    width: 45%;
    padding: 20px;

    background-color: rgba(255,239,213, 0.5);
}
.Login_Wrapper h1{
    color: #ff7f50;
    font-family: 'Cinzel', serif;
}
.Login_Wrapper form{
    
    display: flex;
    flex-direction: column;
}
.Login_Wrapper input{
    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
}
.Login_Wrapper button{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: rgb(255,127,80);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.Login_Wrapper a{
    margin: 5px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(255,127,80);
}

@media only screen and (max-width: 375px){
    .Login_Wrapper{
        width: "75%"
    }
}