@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.Nav_Container{
    height: 60px;
}
.Nav_Wrapper{
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
}
.Top {
   margin-left: 50%;
   padding-bottom: 10px;
   font-family: 'Syne Mono', monospace;
   font-weight: bolder;
   font-size: larger;
   color: #ff7f50;
  
}
.Buttom{
    display: flex;
    justify-content: space-around;
    /* margin-left: 20px; */
    background-color: brown;
}
.left{
    /* flex: 1; */
    display: flex;
    /* align-items: center; */
}
.left a{
    padding: 10px 20px;
    color: white;
}
.right{

    display:flex;

    
}
.right a{
    text-decoration: none;
    padding: 10px  20px;
    /* position: relative; */
    cursor: pointer;
    color: white;
 
    }

    @media only screen and (max-width:380px) {
        .Nav_Container{
            height: 60px;
        }
        .Top {
          margin-left: 35%;
        }
        .Buttom{
            font-size: smaller;
            display: flex;
            justify-content: center;
        }
        .left{
            display: flex;
            margin-left: -50px;
        }
        .right{
            display: flex;
        }
        .left a{
            padding: 10px 0px 10px 5px;
            color: white;
        }
        .right a{
            
            padding: 10px 0px 10px 5px;
           
         
            }
      }